In [13]:
import warnings
warnings.simplefilter(action = "ignore", category = FutureWarning)

## 자료형을 자유자재로 변환하기 - astype 메서드

In [2]:
import pandas as pd
import seaborn as sns
tips = sns.load_dataset("tips")
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

## 여러가지 자료형을 문자열로 변환하기

In [3]:
#자료형을 변환 하려면 astype메서드를 사용
#sex 열의 자료형은 카테고리입니다. 문자열로 변환하여 sex_str열에 저장
tips['sex_str'] = tips['sex'].astype(str)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 자료형을 변환한 데이터 다시 원래대로 만들기

In [5]:
#total_bill ==> 문자열로 변환
tips['total_bill'] = tips['total_bill'].astype(str)
tips.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [ ]:
#문자열로 변환한 total_bill열을 다시 실수로 변환
tips['total_bill'] = tips['total_bill'].astype(float)
tips.dtypes

In [ ]:
## 잘못입력한 문자열 처리하기 - to_numeric메서드

In [8]:
#total_bill 열의 1, 3, 5, 7 행의 데이터를 'missing'으로 변경해서
#tips_sub_miss에 저장
tips_sub_miss = tips.head(10)
tips_sub_miss.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
tips_sub_miss

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [9]:
#'missing'이라는 문자열 때문에 실수가 아닌 문자열로 변경됨
tips_sub_miss.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [10]:
#판다스는 'missing'이라는 문자열을 실수로 변환하는 방법을 모름
tips_sub_miss['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [11]:
#to_numeric메서드를 사용해도 문자열을 실수로 변환할 수 없다.
pd.to_numeric(tips_sub_miss['total_bill'])

ValueError: Unable to parse string "missing" at position 1

In [14]:
#errors 인자를 ignore로 설정하면 오류는 발생하지 않지만, 자료형도 변하지 않음
tips_sub_miss['total_bill'] = \
    pd.to_numeric( tips_sub_miss['total_bill'], errors='ignore')

tips_sub_miss.dtypes

C:\Users\Playdata\AppData\Local\Temp\ipykernel_11780\2094221401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = \

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [15]:
#coerce : 숫자로 변환할 수 없는 값을 누락값으로 지정
tips_sub_miss['total_bill'] = \
    pd.to_numeric( tips_sub_miss['total_bill'], errors='coerce')

tips_sub_miss.dtypes

C:\Users\Playdata\AppData\Local\Temp\ipykernel_11780\1318414482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = \

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [16]:
tips_sub_miss.head()

   total_bill   tip     sex smoker  day    time  size sex_str
0       16.99  1.01  Female     No  Sun  Dinner     2  Female
1         NaN  1.66    Male     No  Sun  Dinner     3    Male
2       21.01  3.50    Male     No  Sun  Dinner     3    Male
3         NaN  3.31    Male     No  Sun  Dinner     2    Male
4       24.59  3.61  Female     No  Sun  Dinner     4  Female

In [19]:
#downcast는 자료형을 더 작은 형태로 만들 때 사용
#float64에서 float32로 변경됨.
#float64는 float32보다 더 많은 실수를 표현할 수 있지만
#메모리 공간을 2배나 차지
#저장하려는 실수의 예상 범위가 크지 않다면 다운캐스트 하는 것도 좋음
tips_sub_miss['total_bill'] = \
    pd.to_numeric( tips_sub_miss['total_bill'], errors='coerce', downcast='float')
    
tips_sub_miss.dtypes

C:\Users\Playdata\AppData\Local\Temp\ipykernel_11780\1196291257.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_sub_miss['total_bill'] = \

total_bill     float32
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

## 문자열을 카테고리 변환한기
* 문자열 자료형보다 카테고리 자료형을 사용하는 것이 용량과 속도 면에서 더 효율적

In [20]:
tips['sex'] = tips['sex'].astype('str')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(3), float64(1), int64(1), object(3)
memory usage: 10.8+ KB

In [21]:
#sex 열의 자료형을 카테고리로 변환, df 용량도 줄어듬을 확인
tips['sex'] = tips['sex'].astype('category')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.3+ KB